body {
  height: 100%;
  width: 100%;
  font-family: 'Galada', cursive;
}

main {
  background: #9BCCD4;
  background-size: cover;
}

h1 {
  margin: 50px;
  font-size: 40px;
}

h1 a {
  text-decoration: none;
  color: #9BCCD4;
  transition: .4s;
  background: #E5EDEE;
  padding: 40px;
  border-radius: 50%;
}

h1 a:hover {
  opacity: 0;
  font-size: 80px;
  color: powderblue;
}

svg {
  margin-left: 10%;
  width: 200px;
  height: 600px;
}

#bunny1 {
  animation: ghost 3s infinite alternate;
}

@keyframes ghost {
  to {
    opacity: 0;
  }
}

#bunny2 {
  animation: unghost 3s infinite alternate;
  opacity: 0;
}

@keyframes unghost {
  to {
    opacity: 1;
  }
}
